#configSelect {

}

.configOption {
  font-size: 2rem;
}

.configOption:hover {
  background-color: #efefef;
  box-shadow: inset 0 0 2px 0px #878787;
  cursor: pointer;
}

.activeOption {
  background-color: #efefef;
  box-shadow: inset 0 0 2px 0px #878787;
}
