<!--<div class="p-3">-->
<!--  <label for="name">Name</label>-->
<!--  <input #name id="name" class="form-control">-->
<!--  <label for="avatar">Avatar url</label>-->
<!--  <input #avatar id="avatar" class="form-control">-->
<!--  <button class="btn btn-secondary my-3 float-right" (click)="newTeam(name.value,avatar.value)">new</button>-->
<!--</div>-->

<h2 mat-dialog-title>New Team</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field style="width: 100%">
    <mat-label>Name</mat-label>
    <input matInput #name placeholder="name"/>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>Avatar url</mat-label>
    <input matInput #avatarUrl placeholder="avatar url"/>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>Accent colour</mat-label>
    <input matInput #accent placeholder="accent colour"/>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>Description</mat-label>
    <input matInput #description placeholder="description"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial
          (click)="newTeam(name.value,avatarUrl.value,accent.value,description.value)">New
  </button>
</mat-dialog-actions>
