<!--<div *ngIf="Job">-->
<!--  <div class="modal-header">-->
<!--    <input #jobName class="modal-title pull-left h4 form-control" [value]="Job.name"-->
<!--           (focusout)="updateName(Job.jobId,jobName.value)">-->
<!--    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <div class="clearfix">-->
<!--      <div class="d-inline-block">-->
<!--        <div class="status"-->
<!--             [style.background-color]="jobService.getStatusBackGround(Job)">{{jobService.JobToStatus(Job)}}</div>-->
<!--        <div class="status"-->
<!--             [style.background-color]="jobService.getTypeBackGround(Job)">{{jobService.JobToType(Job)}}</div>-->
<!--        <div class="status"-->
<!--             [style.background-color]="jobService.getPriorityBackGround(Job)">{{jobService.JobToPriority(Job)}}</div>-->
<!--      </div>-->
<!--      <input class="form-check-input m-auto" type="checkbox" #archived [checked]="Job.archived" (click)="updateArchived(archived.checked)">-->
<!--      <div class="btn-group float-right">-->
<!--        &lt;!&ndash;        <button class="btn btn-secondary" (click)="toggleFlag()"><span octicon="flag" color="grey"></span> Flag</button>&ndash;&gt;-->
<!--        <button class="btn btn-secondary" (click)="removeJob()"><span octicon="trashcan" color="white"></span> delete-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="form-group float-right mr-3">-->
<!--        <select id="jobPriorityInput" class="form-control" #jobPriority [value]="Job.priority"-->
<!--                (change)="changePriority(jobPriority.value)">-->
<!--          <option value="0">DEFCON5</option>-->
<!--          <option value="1">DEFCON4</option>-->
<!--          <option value="2">DEFCON3</option>-->
<!--          <option value="3">DEFCON2</option>-->
<!--          <option value="4">DEFCON1</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;  <hr>&ndash;&gt;-->
<!--    <div class="row">-->
<!--    <textarea #jobDescription class="col m-2" id="description" [value]="Job.description"-->
<!--              (focusout)="updateDescription(Job.jobId,jobDescription.value)">-->
<!--    </textarea>-->
<!--      <div class="col">-->
<!--        <div class="text-muted"><span octicon="history" color="grey"></span> Start Date</div>-->
<!--        <div>{{Job.startDate | date:'medium'}}</div>-->
<!--        <div class="text-muted"><span octicon="clock" color="grey"></span> Deadline</div>-->
<!--        <div>{{Job.deadline | date:'medium'}}</div>-->
<!--        <div class="text-muted"><span octicon="calendar" color="grey"></span> Finish Date</div>-->
<!--        <div>{{Job.endDate | date:'medium'}}</div>-->
<!--        <div>{{Job.pings}}</div>-->
<!--        &lt;!&ndash;      <div class="text-muted"><span octicon="browser" color="grey"></span> Url</div>&ndash;&gt;-->
<!--        <div>{{Job.associatedUrl}}</div>-->
<!--        <div class="text-muted"><span octicon="git-commit" color="grey"></span> Commit</div>-->
<!--        <a [href]="Job.commit" [innerHTML]="GetCommit()"></a>-->
<!--        <div class="text-muted"><span octicon="report" color="grey"></span> Flagged</div>-->
<!--        <div>{{Job.flagged}}</div>-->
<!--        <div>Created by</div>-->
<!--        <user-avatar *ngIf="Job.createdBy" [user]="Job.createdBy" class="d-flex"></user-avatar>-->
<!--      </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label for="WorkersInput">Workers</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;        <input id="WorkersInput" [(ngModel)]="selectedUser"&ndash;&gt;-->
<!--&lt;!&ndash;               [typeahead]="filterUsers(boardService.board.BoardMembers)"&ndash;&gt;-->
<!--&lt;!&ndash;               typeaheadOptionField="displayName" type="text"&ndash;&gt;-->
<!--&lt;!&ndash;               class="form-control" (keyup.enter)="addUser()" autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="btn btn-success" (click)="addUser()"> +</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div class="d-flex">-->
<!--      <user-avatar *ngFor="let user of Job.AssociatedUsers" [user]="user"></user-avatar>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;<div class="modal-footer">&ndash;&gt;-->
<!--  &lt;!&ndash;  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">button</button>&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<div *ngIf="Job" class="p-4">
  <h2 mat-dialog-title class="mx-3 px-3">{{Job.name}}</h2>
  <mat-dialog-content class="mat-typography">
    <!--    <mat-form-field style="width: 100%" >-->
    <!--      <mat-label>Invite token</mat-label>-->
    <!--      <input matInput #inviteToken placeholder="invite token"/>-->
    <!--    </mat-form-field>-->

    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between align-content-center mx-3 px-3">
        <div class="d-flex">
          <badge [status]="Job.jobStatus" [type]="null" [priority]="null"></badge>
          <badge [type]="Job.jobType" [status]="null" [priority]="null"></badge>
          <badge [priority]="Job.priority" [type]="null" [status]="null"></badge>
        </div>
        <div>{{Job.deadline|date:'long'}}</div>
      </div>

      <!--      <mat-form-field>-->
      <!--        <mat-label>Job description</mat-label>-->
      <!--        <textarea matInput cdkAutosizeMinRows="10">{{Job.description}}</textarea>-->
      <!--      </mat-form-field>-->
      <div class="d-flex flex-row">
        <div class="m-3 p-3 w-100">{{Job.description}}</div>
        <div class="flex-row m-3 p-3" id="jobInfo">
          <div class="d-flex justify-content-between">
            <div>Job id</div>
            <div>{{Job.jobId}}</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>Created by</div>
            <!--            <div>{{Job.createdBy.id}}</div>-->
          </div>
          <div class="d-flex justify-content-between">
            <div>Started</div>
            <div>{{Job.startDate|date:'long'}}</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>Commit</div>
            <div>{{Job.commit}}</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>Pings</div>
            <div>{{Job.pings}}</div>
          </div>
          <div class="d-flex justify-content-between">
            <div>Flagged</div>
            <div>{{Job.flagged}}</div>
          </div>
        </div>
      </div>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="flagJob()" [color]="Job.flagged ? 'accent': 'primary'">Flag</button>
    <button mat-button mat-dialog-close>Cancel</button>
    <!--    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="join(inviteToken.value)">Join</button>-->
  </mat-dialog-actions>
</div>
