<div class="shadow-sm m-1 py-1 px-2 job" *ngIf="Job" [style.border-left]="jobService.GetBorderAccent(Job)" (click)="OpenFullJob()">
  <div class="p" id="jobName">{{Job.name}}</div>
  <div class="p small"><span octicon="history" color="grey"></span><i style="color: grey"> {{Job.startDate | timeFrom}}</i></div>
  <div class="d-flex">
    <badge [status]="Job.jobStatus" [type]="null" [priority]="null"></badge>
    <badge [type]="Job.jobType" [status]="null" [priority]="null"></badge>
    <badge [priority]="Job.priority" [type]="null" [status]="null"></badge>
  </div>
  <hr style="margin-top: 0.3rem; margin-bottom: 0.3rem">
  <div class="p">{{Job.description | truncate}}</div>
  <div class="p" *ngIf="Job.deadline.toString() != '0001-01-01T00:00:00'"><span octicon="clock" color="grey"></span> {{Job.deadline | date:'medium'}}</div>
  <div class="d-flex">
    <user-avatar *ngFor="let user of Job.AssociatedUsers" [user]="user" [onlineIndicate]="false"></user-avatar>
  </div>
</div>
