<div class="d-flex flex-column justify-content-between h-100" *ngIf="auth.User">

  <app-dashboard-nav></app-dashboard-nav>

  <div class="d-flex flex-column">
    <app-teams></app-teams>
  </div>
  <div class="d-flex flex-grow-1" style="overflow-y: scroll;overflow-x: hidden;">
    <app-timeline class="w-100"></app-timeline>
  </div>

  <div>
<!--    <div class="title">Colleagues</div>-->
    <div *ngIf="auth.Colleagues" class="d-flex my-1">
      <user-avatar *ngFor="let user of auth.Colleagues" [size]="40" [onlineIndicate]="true" [user]="user"
                   [hasTooltip]="true"></user-avatar>
    </div>
  </div>
</div>

