<div class="d-flex flex-column">
  <app-team-nav [accent]="this.warehouse.Teams[this.warehouse.CurrentTeamIndex()].accent" [team]="this.warehouse.Teams[this.warehouse.CurrentTeamIndex()]"></app-team-nav>

  <div class="d-flex flex-column">

    <div class="title">New Board "Sprint"</div>

    <div class="d-flex justify-content-between">
      <div (click)="boardTitleClicked = !boardTitleClicked" *ngIf="!boardTitleClicked">{{newBoard.name}}</div>
      <input *ngIf="boardTitleClicked" [value]="newBoard.name" (focusout)="boardTitleClicked = !boardTitleClicked">

      <button mat-button (click)="createBoard()">Create</button>
    </div>

    <mat-list role="list" class="shadow-sm" id="newBoardList" cdkDropList #newBoardList='cdkDropList' [cdkDropListConnectedTo]="[backlogList]" (cdkDropListDropped)="drop($event)" [cdkDropListData]="newBoard.jobs">
      <mat-list-item cdkDrag role="listitem" class="listItem mb-1" *ngFor="let job of newBoard.jobs" [style.background-color]="job.flagged ? '#ffebee' : ''" [style.border-left]="jobService.GetBorderAccent(job)" [style.border-right]="jobService.getPriorityBorder(job)">
        <app-liner-job [job]="job" [trunk]="20"></app-liner-job>
      </mat-list-item>
    </mat-list>

  </div>

  <div class="d-flex flex-column">
    <div class="title">Backlog</div>
    <mat-list role="list" class="shadow-sm" id="backlogList" cdkDropList #backlogList='cdkDropList' [cdkDropListConnectedTo]="[newBoardList]" (cdkDropListDropped)="drop($event)" [cdkDropListData]="backLogJobs">
      <mat-list-item cdkDrag role="listitem" class="listItem mb-1" *ngFor="let job of backLogJobs" [style.background-color]="job.flagged ? '#ffebee' : ''" [style.border-left]="jobService.GetBorderAccent(job)" [style.border-right]="jobService.getPriorityBorder(job)">
        <app-liner-job [job]="job" [trunk]="20"></app-liner-job>
      </mat-list-item>
      <mat-list-item role="listitem" class="listItem mb-1" *ngIf="warehouse.CurrentTeamId != null">
        <div class="d-flex w-100" (click)="clicked = !clicked" *ngIf="!clicked">
          <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
          Create job
        </div>
        <div class="d-flex w-100 justify-content-between" *ngIf="clicked">
          <input (focusout)="clicked = !clicked" #name (keydown.enter)="createJob(name.value,type.value,priority.value)" class="w-100 mx-1" placeholder="What to do?">

          <div class="d-flex">

            <select #type class="mx-1">
              <option value="0">Bug</option>
              <option value="1">Feature</option>
              <option value="2">Generic</option>
            </select>

            <select #priority class="mx-1">
              <option value="0">DEFCON 5</option>
              <option value="1">DEFCON 4</option>
              <option value="2">DEFCON 3</option>
              <option value="3">DEFCON 2</option>
              <option value="4">DEFCON 1</option>
            </select>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="listItem mb-1" *ngIf="warehouse.CurrentTeamId != null">
        <button mat-button (click)="randomJob()">Create random Job</button>
      </mat-list-item>
    </mat-list>
  </div>

</div>
